body {
  font-family: sans-serif;
  background-color: #f9f9f9;
 }
 
 a {
  text-decoration: none;
 }

 .add-btn {
  font-size: 12px;
  height: 35px;
  min-width: 50px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
 }
 .autocomplete-dropdown-container {
  color: black;
}
 .board-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 
 
 .card-group {
  display: flex;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  font-family: 'Special Elite', cursive;
 }

 .card-group a {
  color: #515151;
 }
 
 .card-content {
  padding: 5px 5px 0 5px;
 }
 .card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .container {
   display: flex;
   flex-direction: row;
 }
 .ui.container.container {
   width: 100vw;
 }

.dropdown {
  padding: 12px;
  margin-left: 20px;
}
 #email {
  font-family: 'Special Elite', cursive;
  height: 2em;
  padding-top: 5px;
}
.forms {
  display: flex;
  flex-direction: column
}
.form-group {
  padding-top: 2em;
}

#full-page {
  display: flex;
}

.homepage-container {
  display: flex;
  margin-top: 8em;
}
 
.item#create-btn {
  align-self: right;
}
 
.ind-card {
  min-width: 30vw;
  display: flex;
  padding: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

 
 
.location-bar {
  position: absolute;
  top: 10vh;
  border: 3px solid green;
}
  
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 10em auto auto;
}

.logo{
  display: flex;
  width: 2em;
}
  
#logo {
  width: 15%;
  height: 15%;
  margin: 3% 0 3% 3%;
  min-width: 5em;
}

#logout {
  font-size: 12px;
  width: 4em;
  color: #515151;
  border-radius: 5px;
  border: solid 1px #515151;
  padding: 0;
  margin: 0 0 .5em 0;
  background-color: white;
  justify-content: center;
}
  #mapcard {
    width: auto;
  }
  #mapcard-closed {
    width: auto;
    opacity: .45;
  }
  .mapboxgl-popup-content {
    text-align: center;
  }
 
#menu {
  display: flex;
  z-index: 3;
  height: 2em;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255, .9);
  margin: 0 auto;
  align-self: center;
  border: solid 2px #dededf;
  padding: 4px 0;
  border-radius: 5px;
}
#menu * {
  padding: 0 .5em;
}
  
#myboards  {
  margin-left: 10px;
}
.user-nav {
  display: flex;
  flex-direction: column;
  height: 4em;
  flex-grow: 1;
  vertical-align: baseline;
  margin-right: 5px;
  justify-content: flex-end;
}

.user-nav * {
  display: flex;
  align-self: flex-end;
}

#name {
  font-family: 'Special Elite', cursive;
  font-size: 175%;
  margin-left: 1.75em;
}
  
.navbar {
  display: flex;
  margin-top: 0;
  height: 4em;
  flex-direction: row;
  align-items: center;
  position: fixed;
  color: #515151;
  width: 100vw;
  background-color: #f9f9f9;
  z-index: 3;
  } 

.navbar a {
  color: #515151;
}

.ui.sub-navbar.menu {
   display: flex;
   position: fixed;
   font-size: 12px;
   margin-top: 4.5em;
   z-index: 3;
   width: 100vw;
   justify-content: space-between;
}
#notification {
  background-color: #a3151e;
  color: white;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}
  #pin-options button {
    border-radius: 5px;
    border: none;
   }
  
   #pin-options img {
    height: 45px;
    width: 45px;
   }
 .routes {
  display: flex;
 }
 
 .search-container {
  position: fixed;
  top: 8em;
  width: 100%;
  color: white;
 }
.search-coords {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin: 0 auto;
  z-index: 5;
  justify-content: center;
  border-radius: 5px;
 }
 
 .search-coords input {
  display: flex;
  padding: .3em;
  width: 20em;
  border-radius: 1px;
 }
 
 .search-coords button {
  display: flex;
  height: 1.7em;
  width: 1.7em;
  background-color: white;
  text-align: center;
  border-radius: 50%;
 }
 
 .sign-up {
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  justify-items: center;
  padding: 1em;
 }

 .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
 }
 
 .side-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
 }

 .title {
  display: flex;
  position: fixed;
  color: black;
  
 }
 .ui.form .fields {
  display: flex;
  flex-direction: column;
 }
 
 .ui.form .fields .field {
  width: 50%;
  min-width: 100px;
 }
 


/*-----OLD CSS GRAVEYARD------*/


  /*
.App {
  text-align: center;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  background-image: url("https://betanews.com/wp-content/uploads/2015/01/Earth.jpg");
  background-attachment: fixed;
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: center;
}

.App-header {
  background-color: #AFAAB9;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.button {
  padding: 10px;
  margin-top: 10px;
}

#back {
  font-size: 3em;
  margin: 0 15px;
  color: white;
}

#back a {
  color: white;
}


/* .footer {
  position: absolute;
  bottom: 0;
  width: calc(100vw);
  background-color: white;
  border-radius: 2em 2em 0 0;
  border: solid 1px lightgrey;
  z-index: 2;
} */

/*
.side-bar {
  margin-top: 20vh;
  display: flex;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(97, 65, 65); Black */
  /* overflow-x: hidden;
  padding-top: 20px;
} */
