body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  height: auto;
 }

 a {
  text-decoration: none;
 }

 .add-btn {
  font-size: 12px;
  height: 35px;
  min-width: 50px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
 }
 #add-user-icon {
  margin-bottom: 5px;
  position: fixed;
  right: 12px;
  top: 109px;
} 
#add-img-icon {
  z-index: 10;
  position: fixed;
  margin-top: 150px;
  margin-left: 50px;
}

 .autocomplete-dropdown-container {
  color: black;
  position: absolute;
    bottom: 3em;
  }

i.angle.double.left.large.icon.back-icon {
  margin-left: 12px;


}
  #banner-img {
    display: flex;
    z-index: -5;
    position: fixed;
    width: 100%;
    height: 40%;
  }
 .board-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
.board-container .mapboxgl-map {
  position: absolute;
  top: 7.5em;
}

 .card-group {
  display: flex;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  font-family: 'Special Elite', cursive;
 }

 .card-group a {
  color: #515151;
 }

 .card-content {
  padding: 5px 5px 0 5px;
 }

 .card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#checkmark {
  border: none;
}

#close-popup {
  display: flex;
  border: none;
  margin: auto auto 4px 0;
}
#login-signup-options {
  width: 300px;
}
 .container {
   display: flex;
   flex-direction: row;
 }
#dropdown {
  margin-left: 15px;
  margin-top: 7px;
}
.footer .dropdown {
  display: flex;
  margin: .1em 1em 0 1em
}
#want-to-go {
  margin-right: 17px;
}

.autocomplete-dropdown-container {
  position: absolute;
  bottom: 3em;
}
.map-container {
    position: fixed;
    width: 100vw;
    height: 90vh;
}

#dropup {
  position: center;
  padding: 15px;
  margin-top: 1em;
  margin-left: 2em;
}

 #email {
  font-family: 'Special Elite', cursive;
  height: 2em;
  padding-top: 5px 1px 1px 0;
}
#username {
  font-family: 'Special Elite', cursive;
  height: 2em;
  padding-top: 5px 1px 1px 0;
  margin: auto;
}
.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 10px;
}
.navbar-link {
  margin: auto;
}
#checkmark {
  border: none;
}
.profile-img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 2px #bcbcbc;
}
.profile-info {
  text-align: left;
  margin-left: 10px;
  color: #515151;
}
.friend-img {
  width: 75px;
  height: 75px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
  display: flex;
  padding: .7em;
  z-index: 4;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  max-width: 250px;
  text-align: left;
}

.form-group {
  padding-top: 1.5em;
  text-align: left;
}

.friends-box-container{
  display: flex;
  width: 400px;
}
.friend-box {
  display: flex;
  flex-direction: row;
}
.friend-sub-box {
  display: flex;
  flex-direction: column;
}
.friends-container {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  width: 100vw;
}
.friendsList-container {
  display: flex;
  justify-content: center;
}
#friend-name {
  font-family: 'Special Elite', cursive;
  font-size: 75%;
  margin-left: 5px;
}
#friend-username {
  font-family: 'Special Elite', cursive;
  font-size: 65%;
  margin-left: 5px;
}
#full-page {
  display: flex;
}

.header-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homepage-container {
  display: flex;
  margin-top: 8em;
}

.in-footer {
  display: flex;
  width: 75vw;
  margin: auto;
}

.item#create-btn {
  padding-top: 9px;
}

.ind-card {
  min-width: 30vw;
  display: flex;
  padding: 15px;
}
#profile-board {
  height: 76vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input.location-search-input {
  width: 100%;
  border-radius: 1em 1em;
  
}
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(36, 25, 6) }
}

.location-bar {
   position: absolute;
   top: 10vh;
   border: 3px solid green;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 10em auto auto;
}
#login-signup-options {
  width: 300px;
}

  .friends-container {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 100vw;
  }
  .friendsList-container {
    display: flex;
    justify-content: center;
  }
  #users-icon {
    margin-bottom: 5px;
  }
  #add-user-icon {
    margin-bottom: 5px;
    position: fixed;
    right: 12px;
    top: 109px;
  }
  #navbar-pic {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 1px #bcbcbc;
    margin: auto;
  }
  .header-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    display: flex;
    width: 2em;
  }


.location-bar {
  position: absolute;
  top: 10vh;
  border: 3px solid green;
}
.location-search {
  display: flex;
  width: 100%;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 10em auto auto;
}

.logo{
  display: flex;
  width: 2em;
}

#logo {
  width: 15%;
  height: 15%;
  margin: 3% 0 3% 3%;
  min-width: 5em;
}

#logout {
  padding-top: 1px;
}
#mapcard {
  width: auto;
  }
  #mapcard-world {
    width: 100vw;
    padding:5px;
  }
#mapcard-closed {
  width: auto;
  opacity: .45;
}
.mapboxgl-popup-content {
  text-align: center;
}

#menu {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  width: 100vw;
  z-index: 3;
  height: 5em;
  position: fixed;
  bottom: 2em;
  background-color: rgb(255, 255, 255, .9);
  margin: 0;
  align-self: center;
  border: solid 2px #dededf;
  padding: 10px;
  border-radius: 5px;
}


.mapboxgl-popup-content {
  text-align: center;
}
#menu * {
  /* padding: .5em .5em .5em .5em; */
  margin: .5em
}

#message-box {
  height: 6em;
}

#myboards  {
  margin-left: 10px;
}

#name {
  font-family: 'Special Elite', cursive;
  font-size: 250%;
  margin-left: 1.75em;
}
#profile-name {
  font-size: 150%;
  margin-top: 2%;
  margin-bottom: auto;
}
#profile-username {
  font-size: 100%;
  margin: auto;
}
#friend-name {
  font-family: 'Special Elite', cursive;
  font-size: 75%;
  margin-left: 5px;
}
#friend-username {
  font-family: 'Special Elite', cursive;
  font-size: 65%;
  margin-left: 5px;
}
.no-friends-msg {
  margin: 20px;
}
.friends-box-container{
  display: flex;
  width: 400px;
}
.friend-box {
  display: flex;
  flex-direction: row;
}
.friend-sub-box {
  display: flex;
  flex-direction: column;
}
#profile-email {
  font-size: 100%;
  margin: auto;
  color: #515151;
}
.navbar {
  display: flex;
  margin-top: 0;
  height: 4em;
  flex-direction: row;
  align-items: center;
  position: fixed;
  color: #515151;
  width: 100vw;
  background-color: #f9f9f9;
  z-index: 3;
  }
.navbar a {
  color: #515151;
}
  
#name {
  font-family: 'Special Elite', cursive;
  font-size: 175%;
  margin-left: 1.75em;
}
.no-friends-msg {
  margin: 20px;
}
#notification {
  background-color: #a3151e;
  color: white;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}
.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
}

.options-container * {
  padding: 4px;
}
#pin-options button {
  border-radius: 5px;
  border: none;
  background-color: white;
 }

 #pin-options img {
  height: 45px;
  width: 45px;
 }

.postcard-logo {
  width: 14vw;
  z-index:1
} 
.postcard-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rbg(188,143,143);
  border-radius: 2%;
  width: 80vw;
  height: 75vh;
  box-shadow: 10px 10px 8px #888888;
  background-color:rgb(255,245,238);
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  margin-bottom: 5em;

}


 .postcard-form-style {
  background: transparent;
  border: none;
  font-size: 1em;
  outline: none;
  line-height: 1.3em;
  width: 55vw;
  display: inline;
 }

 #textarea {
   vertical-align: top;
   height: 15vh;
 }

  .postcard-flip-button {
    position: relative;
    top: 1em;
  }

  .postcard-front {
    margin: auto;
  }

  .postcard-back {
    margin: auto;
  }

  .postcard-label {
    text-align: left;
    display: inline;
  }

  .postcard-map {
    border: 1px solid rbg(188,143,143);
    margin-bottom: 2em;
  }

  .postcard-map-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .postcard-message-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
  }

  .postcard-message-body {
    align-content: center;
    font-size: 1.5em;
    line-height: 1.7em;
    white-space: nowrap;
  }
  .postcard-message-form {
    text-align: left;
    clear: bloth;
    float: left;
    margin-left: -4em;
    width: 55vw;
  }

.postcard-typewriter-text {
  margin: 3em;
  color: rgb(31, 29, 29);
  font-size: 1.2em;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #EBEBEB; /* typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}
#profile-name {
  font-family: 'Special Elite', cursive;
  font-size: 225%;
  margin-top: 5%;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}
#profile-username {
  font-family: 'Special Elite', cursive;
  font-size: 180%;
  margin: auto;
}

#profile-email {
  font-family: 'Special Elite', cursive;
  font-size: 140%;
  margin: auto;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 150px;
}
.profile-picture {
  display: flex;
  justify-content: center;
}
.profile-img{
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
/* The typing effect */

 .routes {
  display: flex;
 }
.search-bar {
  border-radius: 1em 1em 1em 1em;
}
.search-container {
  /* position: fixed; */
  /* top: 8em; */
  /* width: 100%; */
  color: white;
  /* padding: 10px; */
}
 .mapboxgl-popup-content {
   text-align: center;
 }

 #pin-options button {
  border-radius: 5px;
  border: none;
  background-color: white;
 }
 #pin-options img {
  height: 45px;
  width: 45px;
 }

 .options-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 3px;
 }

 .options-container * {
   padding: 4px;
 }


 .postcard-logo {
  width: 14vw;
  z-index:1
  }

 .search-coords {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin: 0 auto;
  z-index: 5;
  justify-content: center;
  border-radius: 5px;
 }

 .search-coords input {
  display: flex;
  /* padding: .3em; */
  width: 20em;
  border-radius: 1px;
 }

 .search-coords button {
  display: flex;
  height: 1.7em;
  width: 1.7em;
  background-color: white;
  text-align: center;
  border-radius: 50%;
 }
.settings {
  margin-top: 3px;
  margin-left: 2px;
}
 .sign-up {
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  justify-items: center;
  padding: 1em;
 }
 #signup-button{
   margin-top:10px;
 }
 .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
 }

 .signup-title {
   margin-bottom: 0;
 }

 .profile-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 20px;
  padding-top: 110px;
 }
 .profile-page {
   width: 100vw;
 }
 #banner-img {
   display: flex;
   z-index: -5;
   position: fixed;
   width: 100%;
   height: 40%;
 }
 .side-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
 }

 .sticky {
  position: absolute;
  bottom: 0;
}


 .title {
  display: flex;
  position: fixed;
  color: black;

 }
 .ui.form .fields {
  display: flex;
  flex-direction: column;
 }

 .ui.form .fields .field {
  width: 50%;
  min-width: 100px;
 }

 .stamp-logo {
  position: relative;
  top: -9em;
  right: -17em;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: right;
  }


.stamp {
  z-index:1;
  font-family: Arial,sans-serif;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  font-size:1.6em;
  color: #F7BAB7;
  border:solid 4px #F7BAB7;
  padding:1.4em;
  border-radius:50%;
  zoom:1;
  filter:alpha(opacity=20);
  opacity:0.2;
  -webkit-text-shadow: 0 0 2px #F7BAB7;
  text-shadow: 0 0 2px #F7BAB7;
  box-shadow: 0 0 2px #F7BAB7;

  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-delay:2s;
  -webkit-animation-delay:2s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}


 .title {
  display: flex;
  position: fixed;
  color: black;

 }
 .ui.container.container {
  width: 100vw;
}
 .ui.form .fields {
  display: flex;
  flex-direction: column;
 }

 .ui.form .fields .field {
  width: 50%;
  min-width: 100px;
 }
 .ui.menu:after {
  content: none;
}
.ui.sub-navbar.menu {
  display: flex;
  position: fixed;
  font-size: 12px;
  margin-top: 4.5em;
  z-index: 3;
  width: 100vw;
  height: 3em;
  justify-content: space-between;
}
 #users-icon {
  margin-bottom: 5px;
}
.user-nav {
  display: flex;
  flex-direction: column;
  height: 4em;
  flex-grow: 1;
  vertical-align: baseline;
  margin-right: 5px;
  justify-content: flex-end;
}

.user-nav * {
  display: flex;
  align-self: flex-end;
}

 #want-to-go {
  margin-right: 17px;
}
 @media only screen and (max-width: 600px) {
  .postcard-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rbg(188,143,143);
    border-radius: 2%;
    width: 80vw;
    height: 48vh;
    box-shadow: 10px 10px 8px #888888;
    background-color:rgb(255,245,238);
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 47%;
    /* transform: translate(-50%, -50%); */
    padding: 20px;
    text-align: center;
    margin-bottom: 5em;
  }
  .postcard-map {
    margin-bottom: 2em;
    width: 72vw;
    height: 32vh;
  }
  .postcard-typewriter-text {
    margin: 1em;
    color: rgb(31, 29, 29);
    font-size: 1.2em;
    font-family: monospace;
    overflow: hidden;
    border-right: .10em solid #EBEBEB;
  }
  .postcard-message-container {
    display: flex;
    flex-direction: column;
    height: 46vh;
    justify-content: center;
  }

  .postcard-message-body {
    align-content: center;
    font-size: 1.1em;
    line-height: 1.7em;
    white-space: nowrap;
  }
  .postcard-message-form {
    text-align: left;
    clear: bloth;
    float: left;
    margin-left: 1em;
    width: 55vw;
  }
  .stamp-logo {
    position: relative;
    top: -4em;
    right: -7em;
    width: -11vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .postcard-logo {
    width: 24vw;
    z-index:1
    }

.stamp {
  z-index:1;
  font-family: Arial,sans-serif;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  font-size:.9em;
  color: #F7BAB7;
  border:solid 2px #F7BAB7;
  padding:1.2em;
  border-radius:50%;
  zoom:1;
  filter:alpha(opacity=20);
  opacity:0.2;
  -webkit-text-shadow: 0 0 2px #F7BAB7;
  text-shadow: 0 0 2px #F7BAB7;
  box-shadow: 0 0 2px #F7BAB7;

  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-delay:2s;
  -webkit-animation-delay:2s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}
}

@media screen and (min-width: 600px) {
  .postcard-typewriter-text {
    margin: 3em;
    color: rgb(31, 29, 29);
    font-size: 1.2em;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #EBEBEB; /* typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
}



@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-7deg) scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity:1;
    transform: rotate(55deg) scale(1);
  };
}


.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  width: 100%;
  align-items: center;
}
