body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  background-image: url("https://betanews.com/wp-content/uploads/2015/01/Earth.jpg");
  background-attachment: fixed;
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: center;
}
.active {
  transform: translateY(0em);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #AFAAB9;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  margin-top: 0;
    display: flex;
    position: fixed;
    margin: 0 2em;
    width: calc(100vw - 8em);
    background-color: rgb(236, 218, 218); 
    padding: 20px;
    border-radius: 0 0 2em 2em;
    transform: translateY(-2.5em);
    transition: all 1s;
    z-index: 2;

}

.login-container {
  margin-top: 10vh;
  margin-left: 20vw;
  margin-bottom: 20vh;
  margin-right: 20vw;
  background-color: #fff;
  opacity: .7;
  padding: 2em;
  border-radius: 2em;
  justify-content: center;
  justify-items: center;
 }

  .sign-up {
   font-family: sans-serif;
   font-size: 20px;
   justify-content: center;
  justify-items: center;
  padding: 1em;
 }

 .form-group {
   display: flex;
   justify-content: center;
  justify-items: center;
  /* padding: 1em; */
}

.form-control {
  padding-left: 2em;
  padding-top: 1em;
  justify-content: center;
  justify-items: center;
   
  }
  
  .control-label {
    justify-content: center;
   justify-items: center;
   padding: 1em;
 }





