/* body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6wpTX_Re1488fB2Lq5ngmN3i5f83p5Vmhk7JOjPccOLmByGv4");
  background-attachment: fixed;
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  transform: translateY(0em);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #AFAAB9;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.board {
  padding: 50px
}
.home-page {
  padding: 10vw;
  /* background-color: rgb(199, 212, 224); */
  /* margin-bottom: 0; */
  /* height: 100vh; */ */
  /* background-image: url(https://images.unsplash.com/photo-1483638994033-15b73fe7af18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bcf8222b3bc5a4f787a6263ad46ef15&auto=format&fit=crop&w=500&q=60); */
  /* background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;

  
} */
/* .home-main {
  margin-bottom: 0;
  display: flex;



}
.image {
  height: 20vw;
  width: 20vw;
  margin-left: 0;
  
}
.navbar {
  margin-top: 0;
  height: 5em;
    display: flex; 
    flex-direction: row;
    align-items: center;
    position: fixed;
    color: white;
    width: calc(100vw);
    background-color: #d1ecb3; 
    border-radius: 0 0 2em 2em;
    border: solid 1px white;
    transition: all 1s;
    z-index: 2;
}

.navbar h1 {
  font-size: 3em;
}

#back {
  font-size: 3em;
  margin: 0 15px;
  color: white;
}

#back a {
  color: white;
}

#logo {
  width: 5em;
  height: 5em;
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: .7;
  padding: 5em;
  border-radius: 2em;
  justify-content: center;
  justify-items: center;
 } */
  /* text-align: center;
 } */

  /* .sign-up {
   font-family: sans-serif;
   font-size: 20px;
   justify-content: center;
  justify-items: center;
  padding: 1em;
 } */

 /* .form-group {
   display: flex;
   justify-content: center;
  justify-items: center;
  /* padding: 1em; */
} */

/* .form-control {
  padding-left: 2em;
  padding-top: 1em;
  justify-content: center;
  justify-items: center;
} */
  
/* .control-label {
  justify-content: center;
  justify-items: center;
  padding: 1em;
} */

/* .board-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh);
} */

/* #map {
  position: absolute;
  width: 100%;
  height: 100%;
} */

/* .map-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh);
} */

/* .footer {
  position: absolute;
  bottom: 0;
  margin: 0 2em;
  width: calc(100vw - 8em);
  background-color: white; /* should match nav */
  /* border-radius: 2em 2em 0 0; */
/* }  */
  /* width: calc(100vw);
  background-color: #d1ecb3;
  color: white;
  border-radius: 2em 2em 0 0;
  border: solid 1px white;
} */

/* #expand-up {
  margin: auto;
  text-align: center;
  color: #AFAAB9;
} */