body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  height: auto;
 }

 a {
  text-decoration: none;
 }

 .add-btn {
  font-size: 12px;
  height: 35px;
  min-width: 50px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
 }
 .autocomplete-dropdown-container {
  color: black;
}
 .board-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 .card-group {
  display: flex;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  font-family: 'Special Elite', cursive;
 }

 .card-group a {
  color: #515151;
 }

 .card-content {
  padding: 5px 5px 0 5px;
 }
 .card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .container {
   display: flex;
   flex-direction: row;
 }
 .ui.container.container {
   width: 100vw;
 }

.dropdown {
  padding: 12px;
  margin-left: 20px;
}
#dropup {
  position: center;
  padding: 15px;
  margin-top: 1em;
  margin-left: 2em;
}
 #email {
  font-family: 'Special Elite', cursive;
  height: 2em;
  padding-top: 5px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
  display: flex;
  padding: .7em;
  z-index: 4;
  
}
.forms {
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%
}
.form-group {
  padding-top: 2em;
}

#full-page {
  display: flex;
}

.homepage-container {
  display: flex;
  margin-top: 8em;
}
 
.in-footer {
  /* display: flex; */
  justify-content: center;
  margin-left: 2em;
  margin-top: .5em;
}
.item#create-btn {
  align-self: right;
}
 

.ind-card {
  min-width: 30vw;
  display: flex;
  padding: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

 

 .location-bar {
   position: absolute;
   top: 10vh;
   border: 3px solid green;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 10em auto auto;
  }

  .logo{
    display: flex;
    width: 2em;
  }

  #logo {
    width: 15%;
    height: 15%;
    margin: 3% 0 3% 3%;
    min-width: 5em;
  }



.location-bar {
  position: absolute;
  top: 10vh;
  border: 3px solid green;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 10em auto auto;
}

.logo{
  display: flex;
  width: 2em;
}

#logo {
  width: 15%;
  height: 15%;
  margin: 3% 0 3% 3%;
  min-width: 5em;
}

#logout {
  font-size: 12px;
  width: 4em;
  color: #515151;
  border-radius: 5px;
  border: solid 1px #515151;
  padding: 0;
  margin: 0 0 .5em 0;
  background-color: white;
  justify-content: center;
}
  #mapcard {
    width: auto;
  }
  #mapcard-closed {
    width: auto;
    opacity: .45;
  }
  .mapboxgl-popup-content {
    text-align: center;
  }

#menu {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  width: 100vw;
  z-index: 3;
  height: 5em;
  position: fixed;
  bottom: 2em;
  background-color: rgb(255, 255, 255, .9);
  margin: 0;
  align-self: center;
  border: solid 2px #dededf;
  padding: 10px;
  border-radius: 5px;

}
#menu * {
  /* padding: .5em .5em .5em .5em; */
  margin: .5em
  

}

#message-box {
  height: 9em;
}

#myboards  {
  margin-left: 10px;
}
.user-nav {
  display: flex;
  flex-direction: column;
  height: 4em;
  flex-grow: 1;
  vertical-align: baseline;
  margin-right: 5px;
  justify-content: flex-end;
}

.user-nav * {
  display: flex;
  align-self: flex-end;
}

#name {
  font-family: 'Special Elite', cursive;
  font-size: 175%;
  margin-left: 1.75em;
}

.navbar {
  display: flex;
  margin-top: 0;
  height: 4em;
  flex-direction: row;
  align-items: center;
  position: fixed;
  color: #515151;
  width: 100vw;
  background-color: #f9f9f9;
  z-index: 3;
  }

  #name {
    font-family: 'Special Elite', cursive;
    font-size: 175%;
    margin-left: 1.75em;
  }

  .postcard-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rbg(188,143,143);
    border-radius: 2%;
    width: 80vw;
    height: 75vh;
    box-shadow: 10px 10px 8px #888888;
    background-color:rgb(255,245,238);
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
  }

 .postcard-form-style {
  background: transparent;
  border: none;
  font-size: 1em;
  outline: none;
  line-height: 1.3em;
 }
  .postcard-front {
    margin: auto;
  }

  .postcard-label {
    text-align: left;
  }



  .postcard-map {
    border: 1px solid rbg(188,143,143);
    margin-bottom: 2em;
  }

  .postcard-map-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .postcard-message-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
  }

  .postcard-message-body {
    align-content: center;
    font-size: 1.5em;
    line-height: 1.7em;
  }
  .postcard-message-form {
    text-align: left;
    clear: bloth;
    float: left;
    margin-left: 4em;
  }

.postcard-typewriter-text {
  margin: 3em;
  color: rgb(31, 29, 29);
  font-size: 1.2em;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #EBEBEB; /* typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(36, 25, 6) }
}

.navbar a {
  color: #515151;
}

.ui.sub-navbar.menu {
   display: flex;
   position: fixed;
   font-size: 12px;
   margin-top: 4.5em;
   z-index: 3;
   width: 100vw;
   justify-content: space-between;
}
#notification {
  background-color: #a3151e;
  color: white;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}
  #pin-options button {
    border-radius: 5px;
    border: none;
   }

   #pin-options img {
    height: 45px;
    width: 45px;
   }
 .routes {
  display: flex;
 }

 .search-container {
  /* position: fixed; */
  /* top: 8em; */
  /* width: 100%; */
  color: white;
  /* padding: 10px; */
 }

 .autocomplete-dropdown-container {
   color: black;
 }

 .mapboxgl-popup-content {
   text-align: center;
 }

 #pin-options button {
  border-radius: 5px;
  border: none;
 }
 .options-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 3px;
 }
 .options-container * {
   padding: 4px;
 }
 #pin-options img {
  height: 45px;
  width: 45px;
 }
 .postcard-logo {
  width: 14vw;
  z-index:1
}

 .search-coords {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin: 0 auto;
  z-index: 5;
  justify-content: center;
  border-radius: 5px;
 }

 .search-coords input {
  display: flex;
  /* padding: .3em; */
  width: 20em;
  border-radius: 1px;
 }

 .search-coords button {
  display: flex;
  height: 1.7em;
  width: 1.7em;
  background-color: white;
  text-align: center;
  border-radius: 50%;
 }

 .sign-up {
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  justify-items: center;
  padding: 1em;
 }

 .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
 }

 .side-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
 }
 .sticky {
  position: absolute;
  bottom: 0;
}




 .stamp-logo {
  position: relative;
  top: -7em;
  right: -28em;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: right;
  }

.stamp {
  z-index:1;
  font-family: Arial,sans-serif;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  font-size:1.6em;
  color: #F7BAB7;
  border:solid 4px #F7BAB7;
  padding:2em;
  border-radius:50%;
  zoom:1;
  filter:alpha(opacity=20);
  opacity:0.2;
  -webkit-text-shadow: 0 0 2px #F7BAB7;
  text-shadow: 0 0 2px #F7BAB7;
  box-shadow: 0 0 2px #F7BAB7;

  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-delay:2s;
  -webkit-animation-delay:2s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-7deg) scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity:1;
    transform: rotate(55deg) scale(1);
  };
}

 .title {
  display: flex;
  position: fixed;
  color: black;

 }
 .ui.form .fields {
  display: flex;
  flex-direction: column;
 }

 .ui.form .fields .field {
  width: 50%;
  min-width: 100px;
 }



/*-----OLD CSS GRAVEYARD------*/


  /*
.App {
  text-align: center;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  background-image: url("https://betanews.com/wp-content/uploads/2015/01/Earth.jpg");
  background-attachment: fixed;
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: center;
}

.App-header {
  background-color: #AFAAB9;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.button {
  padding: 10px;
  margin-top: 10px;
}

#back {
  font-size: 3em;
  margin: 0 15px;
  color: white;
}

#back a {
  color: white;
}


/* .footer {
  position: absolute;
  bottom: 0;
  width: calc(100vw);
  background-color: white;
  border-radius: 2em 2em 0 0;
  border: solid 1px lightgrey;
  z-index: 2;
} */

/*
.side-bar {
  margin-top: 20vh;
  display: flex;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(97, 65, 65); Black */
  /* overflow-x: hidden;
  padding-top: 20px;
} */
