body {
  font-family: 'Dosis', sans-serif;
 }
 
 a {
  text-decoration: none;
 }
 
 /* .active {
  transform: translateY(0em);
 } */
 
 .add-board-form {
 
 }
 .add-btn {
  font-size: 12px;
  height: 35px;
  min-width: 50px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
 }
 
 .board-container {
  /* margin-top: 15vh; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 
 
 .card-group {
  display: flex;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
 }
 
 .ui.container.container {
   width: 100vw;
   max-height: 20%;
 }

 .download-label {
   display: flex;
   position: fixed;
   z-index: 4;
   bottom: 10px;
 }
 .form-group {
  padding-top: 2em;
 }
 
 
 .homepage-container {
  display: flex;
  /* padding-top: 25vh; */
  /* margin-top: 20vh; */
 
 }
 
 .item#create-btn {
  align-self: right;
 }
 
 .ind-card {
  min-width: 25vw;
  display: flex;
  padding: 25px;
  /* flex-wrap: wrap;
  flex-direction: row; */
 }
 
 .input-container {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  width: 100%;
 }

 .forms {
   display: flex;
   flex-direction: column
 }
 
 .location-bar {
  position: absolute;
  top: 10vh;
  border: 3px solid green;
 }
 
 .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  /* margin-top: 30vh;
  margin-left: 10vw;
  margin-right: 10vw; */
 }
 .logout-button {
  display: flex;
  position: fixed;
  right: 10vw;
  
 }
 
 #logo {
 
  width: 5em;
  height: 5em;
  /* padding-left: 0; */
  color: black;
  /* animation: Navbar-logo-spin infinite 20s linear; */
  /* height: 80px; */
 }
 /* .ui.sub-navbar.menu {
  margin-top: 0;
 } */
 #navbar {
  background-color: white;
  border: none;
  /* color: rgb(209, 59, 59); */
  width: 100vw;
 
  
 }
 
 .navbar-bar {
  /* display: flex; */
  /* size: relative; */
  position: fixed;
  z-index: 3;
  /* flex-direction: row-wrap; */
  width: 100vw;
  max-height: 20%;
  
  /* margin-left: 15px; */
  /* margin-right: 20px; */
  
 
 }
 
 .navbar-email {
  /* display: flex; */
  /* margin: 10vw; */
 
 }
 
 #name {
  padding-left: 0;
 }
 
 #navbar-email {
  color: #f9f9f9;
  margin: 20px;
 }
 
 /* .ui.sub-navbar.menu {
  margin-top: 0;
 } */
 
 /* @keyframes Navbar-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
 } */
 .routes {
  display: flex;
 }
 
 .search-container {
  position: fixed;
  left: 0;
  bottom: 1%;
  width: 100%;
  color: white;
  text-align: center;
 }
 
 .search-coords {
  margin: 0 auto;
  z-index: 5;
  width: 70%;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 5px;
 }
 
 .search-coords input {
  width: 90%;
  margin: 1em;
 }
 
 .search-coords button {
  border-radius: 5px;
 }
 
 .sign-up {
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  justify-items: center;
  padding: 1em;
 }

 .signup-container {
   display: flex;
   justify-content: center;
 }
 
 .side-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
 }
 .title {
  display: flex;
  position: fixed;
  /* left: 15vw; */
  color: black;
  
 }
 .ui.form .fields {
  display: flex;
  flex-direction: column;
 }
 
 .ui.form .fields .field {
  width: 50%;
  min-width: 100px;
 }
 
 
 
 .ui.navbar.menu * {
  
  color: rgb(15, 14, 14);
 }

/*-----OLD CSS GRAVEYARD------*/

/* .navbar {
    margin-top: 0;
    height: 5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: fixed;
      color: white;
      width: calc(100vw);
      background-color: #d1ecb3;
      border-radius: 0 0 2em 2em;
      border: solid 1px white;
      transition: all 1s;
      z-index: 2;
  } */

  /* .navbar h1 {
    font-size: 3em;
  } */

  /*
.App {
  text-align: center;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  background-image: url("https://betanews.com/wp-content/uploads/2015/01/Earth.jpg");
  background-attachment: fixed;
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: center;
}

.App-header {
  background-color: #AFAAB9;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.button {
  padding: 10px;
  margin-top: 10px;
}

#back {
  font-size: 3em;
  margin: 0 15px;
  color: white;
}

#back a {
  color: white;
}


/* .footer {
  position: absolute;
  bottom: 0;
  width: calc(100vw);
  background-color: white;
  border-radius: 2em 2em 0 0;
  border: solid 1px lightgrey;
  z-index: 2;
} */

/*
.side-bar {
  margin-top: 20vh;
  display: flex;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(97, 65, 65); Black */
  /* overflow-x: hidden;
  padding-top: 20px;
} */
